# Builds
build/*.vtr
build/*.vtp
build/*SWE1D
documentation/build

# Eclipse files/folders
.cproject
.project
.pydevproject
.settings

# Scons stuff
.sconsign.dblite
site_scons/site_tools/cxxtest.pyc

# Tex stuff
*.log
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.synctex.gz
*.toc

# Ignore PDF by default (use -f to add pdf anyway)
*.pdf
